/****************************************************************
		
	Fichier :	
	Description : Feuille de style globale CSS
	Auteur : 	
	Version (date) :  		
	Couleurs : 		
					
****************************************************************/
body
{
    width: auto;
    margin: auto;
    padding:2%;
    background-image: url("../images/bkg_gris.png"); 
    font-family: Verdana, serif;
}

main, img
{
    display: flex;
    margin: auto;
}

select
{
    margin: 2%;
    font-size: large;
    background-color:lightblue;
}

input
{
    background-color: transparent;
    border: none;
    text-align: center;
}

button
{
    border: solid;
    border-radius: 7px;
}

.droite, .gauche
{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.affichage_droit, .affichage_gauche
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: solid;
    border-radius: 7px;
    padding: 2%;
}

.droite
{
    width: 30%;
}

.gauche
{
    width: 50%;
}
.affichage_gauche
{
    align-items: center;
    height: 270px;    
}

.affichage
{
    display: flex;
    justify-content: space-between;  
}

.temp_four
{
    font-size: xx-large;
}

.demarrer
{
    background-color: darkcyan;
    font-size: large;
    width: 25%;
}

.button_utilisation
{
    background-color: green;
}

.utilisation
{
    display: flex;
    justify-content: space-between;
}


